// COLOR SCHEME

$dark-blue: #204c85;
$sky-blue: #00a4da;
$mid-gray: #c2c3c5;
$faded-gray: #d2d2d4;
$ash-gray: #e1e1e2;

// FONTS

$main-font: "Play", sans-serif;
$text-font: "Josefin Sans", sans-serif;