@import "./variables";
@import "./navbar";
@import "./hero";
@import "./skills";
@import "./projects";
@import "./experiences";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}